body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image:url("imgtn5.jpg");
  background-size:cover;
}

h1 {
  color: #333;
}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

label {
  display:block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

input[type="submit"] {
  background: #007bff;
  color:white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}